<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.linkedin.com/in/lolontlemoatshe/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By: Lolontle Moatshe</p>
      <a href="https://www.linkedin.com/in/lolontlemoatshe/"><i class="fa fa-linkedin fa-3x"></i></a>
      <a href="https://github.com/freeCodeCamp/boilerplate-project-urlshortener"><i class="fa fa-github fa-3x"></i></a>
    </footer>
  </body>
</html>
